<div class='container mt-4 col-sm-12 col-md-5 justify-content-center'>
  <h2 class="text-index">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="text-index">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: true, autofocus: true %>
      <%= f.input :username, required: true, autofocus: true %>
      <%= f.input :region, required: true, as: :select, collection: User::REGIONS %>
      <%= f.input :age, required: true, autofocus: true %>
      <%= f.input :language, required: true, as: :select, collection: User::LANGUAGES %>
      <%= f.input :rank, required: true, as: :select, collection: User::RANKS %>
      <%= f.input :style, required: true, as: :select, collection: User::STYLES %>
      <%= f.input :photo, required: true, as: :file %>
    </div>

    <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn btn-primary w-100 p-2 mt-2 mb-4" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
