<div class="container chat-box chatbox-contact mt-4 ">
  <%= form_tag chatrooms_path, method: :get do %>
    <div class="d-flex form_wrapper">
    <i class="fas fa-search"></i>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a gamrz"%>
      <%= submit_tag %>
    </div>
  <% end %>
  <% if @chatrooms.any? %>
    <nav class="nav flex-column bg-white">
    <% @chatrooms.each do |chatroom| %>
      <div class="d-flex align-items-center chat-contact">
        <div>
          <img class="user_img" src="<%= chatroom.other_user(current_user).photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>">
        </div>
        <%= link_to chatroom.other_user(current_user).username , chatroom_path(chatroom), class: "nav-link room-nav-link" %>
      </div>
      <% end %>
    </nav>
  <% else %>
    <div class="text-muted">
      <p>The are no chatrooms</p>
    </div>
  <% end %>
</div>
