<div class="container justify-content-center mt-4">
  <div id="messages" class="chat-box" data-chatroom-id="<%= @chatroom.id %>">
    <%= render @chatroom.messages %>
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false %>
    <%= f.submit%>
  <% end %>
  <%= link_to "back to your matches", user_matches_path(current_user)%>
</div>
