
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.match-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  color: #507bd7;
  font-weight: lighter;
}
.match-border {
  background-color: #3e517a;
  color: var(--text-neon);
  border: var(--text-neon) 4px solid;
  border-radius: 0.8em;
  box-shadow: inset 0 0 0.8em 0 var(--text-neon), 0 0 0.9em 0 var(--text-neon);
  transition: all 0.3s ease-in-out;
}
/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 50%;
  font-family: 'Rajdhani', sans-serif;
  <%# border-radius: 10px; %>
  background-color: rgb(63, 68, 100, 0.7);
  border: var(--text-neon) 4px solid;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

<%# .main_card .rigth_swipe {
    transition-timing-function: ease-out;
    transition: 2s;
    transform: translateX(50%);
} %>

</style>

<div class="row justify-content-center align-items-start mt-5 mb-5" style="margin-right:12px; margin-left:12px;">
  <div class=" col-lg-4 border-neon" style="background-color: #0504088f !important;">
    <div>
      <div class="p-4">
        <%= form_tag users_path, method: :get do %>
          <%= select_tag :region,
            options_for_select(User::REGIONS, selected: params[:region]),
            include_blank: "Region",
            class: "form-control mt-2"
          %>
          <%= select_tag :rank,
            options_for_select(User::RANKS, selected: params[:rank]),
            include_blank: "Rank",
            class: "form-control mt-2"
          %>
          <%= select_tag :style,
            options_for_select(User::STYLES, selected: params[:style]),
            include_blank: "Style",
            class: "form-control mt-2"
          %>
          <%= select_tag :language,
            options_for_select(User::LANGUAGES, selected: params[:language]),
            include_blank: "Language",
            class: "form-control mt-2"
          %>
          <%= submit_tag "Search", class: "btn w-100 mt-3 br-4 btn nsm" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <% if @user != nil %>
      <div class="main_card container text-center">
        <div>
          <div class="border-neon" style="background-color: #0504088f !important;">
            <div class="display-e">
              <img class="rounded-circle" style="width: 140px; height: 140px" src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>">

            </div>
            <div class="su display-l">
              <h1 id='username'><%= @user.username%></h1>
              <div id='username' class="text-left">
                <h5><i class="text-white material-icons" style="margin-right: 20px;">equalizer</i></i><%= @user.rank %></h5>
                <h5><i class="text-white material-icons" style="margin-right: 20px;">style</i><%= @user.style %></h5>
                <h5><i class="text-white fas fa-globe-americas mr-4"></i><%= @user.region %></h5>
                <h5><i class="text-white material-icons" style="margin-right: 20px;">record_voice_over</i><%= @user.language %></h5>
              </div>
            </div>
              <%= link_to(dislike_user_path(@user,region: params[:region], style: params[:style], rank: params[:rank], language: params[:language]), id: "no_btn") do %>
                <i style="font-size: 80px; color: #FE1A1A; opacity: 0.85" data-id="<%=@user.id%>" class="eff fas fa-times-circle"></i>
              <% end %>
              <%= link_to(approve_user_path(@user,region: params[:region], style: params[:style], rank: params[:rank], language: params[:language]), id: "yes_btn", class:"rigth_swipe") do %>
                <i style="font-size: 80px; color: #35CE8D" data-id="<%=@user.id%>" class="fas fa-check-circle eff1"></i>
              <% end %>
          </div>
        </div>
      </div>
    <% elsif params[:language] != "" || params[:style] != "" || params[:region] != "" || params[:rank] != "" %>
      <h2 class="text-index text-right si m-0" style="color: White"> No users matching your filter, please change your preferences </h2>
    <% else %>
      <h2 class="text-index text-right si m-0" style="color: White"> No users to match anymore, come back later le sang </h2>
    <% end %>
  </div>
</div>


<%# modal pop up  %>
<div id="myModal" class="modal">c
  <!-- Modal content -->
  <div class="modal-content justify-content-center match-border">
    <span class="close">&times;</span>
      <% if @other_one != "" && @other_one.present?%>
        <h2 class="text-center match-title">You matched with <%= User.find(@other_one.to_i).username%> !</h2>
        <div class="text-center">
          <img src="<%=  User.find(@other_one.to_i).photo.attached? ? (cl_image_path  User.find(@other_one.to_i).photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>" alt="Card image cap" class="mt-3 rounded-circle center-block justify-content-center" alt='photo' style= "height: 200px; width: 200px; object-fit: cover;">
        </div>
      <% end %>
  </div>

</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function(event) {
    if (event.target.className === "close") {
      window.location.search = "";
    }
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      window.location.search = "";
      modal.style.display = "none";
    }
  }
</script>

<% if @match_mutual == "true" %>
  <script>
    var modal = document.getElementById("myModal");
    modal.style.display = "block";
  </script>
<% end %>


