<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :region,
    params[:region],
    class: "form-control",
    placeholder: "Region"
  %>
  <%= text_field_tag :age,
    params[:age],
    class: "form-control",
    placeholder: "Age"
  %>
  <%= text_field_tag :rank,
    params[:rank],
    class: "form-control",
    placeholder: "Rank"
  %>
  <%= text_field_tag :style,
    params[:style],
    class: "form-control",
    placeholder: "Style"
  %>
  <%= text_field_tag :language,
    params[:language],
    class: "form-control",
    placeholder: "Language"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @user != nil %>
  <div class="container text-center">
    <div class="d-flex flex-column align-items-center">
      <div class="cont col-sm-12 col-md-6 col-lg-4 w-100">
        <div class="display-e">
          <img src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>">
          <p>⭐️⭐️⭐️⭐️</p>
        </div>
        <div class="display-l">
          <h1><%= @user.username%></h1>
          <p><%= @user.age%></p>
          <p><%= @user.rank%></p>
          <p><%= @user.region%></p>
          <p><%= @user.style%></p>
        </div>
      </div>
      <div class="btn-group col-sm-12 col-md-6 mr-0 ml-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" data-id="<%= @user.id%>"><%= link_to 'Swipe left', dislike_user_path(@user) %></button>
        <button type="button" class="btn btn-secondary" data-id="<%= @user.id%>"><%= link_to 'Swipe right', approve_user_path(@user) %></button>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-index">No users to match anymore, comme back later le sang</h2>
<% end %>
<%= link_to "your matches", user_matches_path(current_user)%>
<div id="map"><%= link_to "home page", root_path%></div>

