

<div class="container text-center">
  <div class="d-flex flex-column align-items-center">
    <div class="cont col-sm-12 col-md-6 col-lg-4 w-100">
      <div class="display-e">
        <img src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>">
        <p>⭐️⭐️⭐️⭐️</p>
      </div>
      <div class="display-l">
        <h1><%= @user.username%></h1>
        <p><%= @user.age%></p>
        <p><%= @user.rank%></p>
        <p><%= @user.region%></p>
        <p><%= @user.style%></p>
      </div>
    </div>
    <div class="btn-group col-sm-12 col-md-6 mr-0 ml-0" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"><%= link_to 'Swipe left', users_path %></button>
      <button type="button" class="btn btn-secondary"><%= link_to 'Swipe right', users_path %></button>
    </div>
  </div>
</div>

