
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ak {
  background-image: url(https://cdn.dribbble.com/users/90526/screenshots/3607574/main.gif);
  background-size: cover;
  background-position: center;
  width: 100%%;
  height: 200px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<div class="row justify-content-center align-items-start mt-5 mb-5">
  <div class=" col-lg-4 border-neon" style="background-color: #0504088f !important;">
    <div>
      <div class="p-4">
        <%= form_tag users_path, method: :get do %>
          <%= select_tag :region,
            options_for_select(User::REGIONS, selected: params[:region]),
            include_blank: "Region",
            class: "form-control mt-2"
          %>
          <%= select_tag :rank,
            options_for_select(User::RANKS, selected: params[:rank]),
            include_blank: "Rank",
            class: "form-control mt-2"
          %>
          <%= select_tag :style,
            options_for_select(User::STYLES, selected: params[:style]),
            include_blank: "Style",
            class: "form-control mt-2"
          %>
          <%= select_tag :language,
            options_for_select(User::LANGUAGES, selected: params[:language]),
            include_blank: "Language",
            class: "form-control mt-2"
          %>
          <%= submit_tag "Search", class: "btn w-100 mt-3 br-4 btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col-lg-6">
    <% if @user != nil %>
      <div class="container text-center">
        <div>
          <div class="border-neon" style="background-color: #0504088f !important;">
            <div class="display-e">
              <img class="rounded-circle" style="width: 100px; height: 100px" src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>">

            </div>
            <div class="display-l">
              <h1 id='username'><%= @user.username%></h1>
              <div class="text-left">
                <h5><i class="fab fa-hackerrank mr-4"></i><%= @user.rank %></h5>
                <h5><i class="fas fa-hat-cowboy-side" style="margin-right: 20px;"></i><%= @user.style %></h5>
                <h5><i class="fas fa-globe-americas mr-4"></i><%= @user.region %></h5>
                <h5><i class="fas fa-language" style="margin-right: 20px;"></i><%= @user.language %></h5>
              </div>
            </div>
            <div class='d-flex justify-content-between mb-2 p-0 w-100'>
              <%= link_to(dislike_user_path(@user,region: params[:region], style: params[:style], rank: params[:rank], language: params[:language]), id: "no_btn") do %>
                <i style="font-size: 60px; color: #D897B0" data-id="<%=@user.id%>" class="fas fa-times-circle"></i>
              <% end %>
              <%= link_to(approve_user_path(@user,region: params[:region], style: params[:style], rank: params[:rank], language: params[:language]), id: "yes_btn") do %>
                <i style="font-size: 60px; color: #00A676" data-id="<%=@user.id%>" class="fas fa-check-circle"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% elsif params[:language] != "" || params[:style] != "" || params[:region] != "" || params[:rank] != "" %>
      <h2 class="text-index"> No users matching your filter, please change your preferences </h2>
    <% else %>
      <h2 class="text-index"> No users to match anymore, come back later le sang </h2>
    <% end %>
  </div>
</div>


<%# modal pop up  %>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="ak"></div>
    <h2 class="text-center">It's a match</h2>
  </div>

</div>

<% p @match_mutual %>
  <script>
// Get the modal
var modal = document.getElementById("myModal");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<% if @match_mutual == "true" %>
<script>
var modal = document.getElementById("myModal");
modal.style.display = "block";
</script>
<% end %>


