<div class="card col-sm-12 col-md-6 mr-0 ml-5 border-neon" style="width: 36rem; text-align: left; margin: auto; margin-top: 24px;">
  <img src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key, crop: :fill) : 'https://source.unsplash.com/random'%>" alt="Card image cap" class="card-img-top mt-3" alt='photo' style= "height: 250px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title"><%= @user.username %></h5>
    <p class="card-text"><%= @user.description %></p>
    <h5><%= @user.first_name %><%= @user.last_name %></h5>
    <h5><%= @user.region %></h5>
    <h5><%= @user.rank %></h5>
    <h5><%= @user.language %></h5>
    <h5><%= @user.style %></h5>
    <h5><%= @user.age %></h5>
  </div>
    <div class="card-body">
      <% if policy(@user).edit? %>
          <%= link_to 'edit', edit_user_registration_path(@user) %></p>
      <% end %>
  </div>
</div>